@import 'tailwindcss';

button {
  cursor: pointer;
}

/* src\components\general\nav\sidebar\SideBar.tsx */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 0.4s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-bounce-slow {
  animation: bounce-slow 1s ease-in-out;
}
